<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ORLM.DAL.Properties.Settings.ORLMConnectionString"
            connectionString="Data Source=.;Initial Catalog=ORLM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>